* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
    margin: 0 0;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6) ), url('../images/bg-img2.jpg');
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
}

/* Navigation Bar */ 
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 100px;
}

nav ul {
    list-style: none;
}

.nav-bar li {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}

.nav-bar li a {
    transition: all .3s ease 0s;
    color: white;
}

.nav-bar li a:hover {
    color: #006C87;
}

.nav-bar li a {
    font-size: 18px;
}

/* MAIN CONTENT */
main {
    margin: 10vw 25vw;
    color: white;
}

main h1 {
    font-size: 250%;    
}

main p {
	font-size: 125%;
}

/* Footer */
footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid white;
    background-color: black;
}

.footer-contact {
    color: white;
    margin-left: 10vw;
}

#footer-name {
    font-family: Trebuchet;
}

.footer-button {
    color: black;
    background-color: #D0A98F; 
    border-radius: 100px;
    height: 35px;
    padding: 0.5em 1.3em;
}

.footer-nav ul {
    display: flex;
    list-style: none;
    margin-top: 0;
    color: wheat;
}

.footer-item {
    margin-left: 80px;
}

.inner-ul-item {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

footer a:hover {
    color: #F45B69;
}
