html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: black;
}

#main-container {
  width: 40%;
  height: 60%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 2px 5px black;
}

#main-container img {
  width: 50px;
}

#register-error-msg-container {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

#register-error-msg {
  width: 25%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: red;
  opacity: 0;
}

#register-form {
  align-self: flex-start;
  display: grid;
  align-content: center;
  justify-content: center;
}

#register-form::placeholder {
  color: #3a3a3a;
}

.register-fld {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
}

#submit-form {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}

@media (max-width: 576px) {
  #main-container {
    padding: 10px
  }

  #username-fld, #email-fld, #password-fld, #submit-form {
    width: 80%;
  } 
}
