* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: black;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 0;
}

.main {
  min-height: 800px;
}

/* Navigation Bar */ 
a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 100px;
}

nav ul {
  list-style: none;
}

.nav-bar li {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
}

.nav-bar li a {
transition: all .3s ease 0s;
color: white;
}

.nav-bar li a:hover {
color: #006C87;
}

.btn-area {
cursor: pointer;
color: #fff;
font-size: 16px;
letter-spacing: 2px;
text-transform: uppercase;
padding: 10px 30px;
border-radius: 5px;
background: #006C87;
}

/* Scroller */
.scroller {
  position: relative;
  width: 50%;
  height: 50%;
  margin-top: 0;
  margin-left: 40%;
}

.scroller-item img {
  width: 600px;
  height: 600px;
}

.scroller-item, .album-desc-item {
  position: absolute;
  transition: 0.5s ease;
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

/* Album Description */
.album-desc-item {
  width: 20%;
  margin-top: 0;
  margin-left: 130px;
}

.album-title {
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}

/* Footer */
.footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid white;
    background-color: black;
}

.footer-contact {
    color: white;
    margin-left: 10vw;
}

#footer-name {
    font-family: Trebuchet;
}

.footer-button {
    color: black;
    background-color: #D0A98F; 
    border-radius: 100px;
    height: 35px;
    padding: 0.5em 1.3em;
}

.footer-nav ul {
    display: flex;
    list-style: none;
    margin-top: 0;
    color: wheat;
}

.footer-item {
    margin-left: 80px;
}

.inner-ul-item {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.footer a:hover {
    color: #F45B69;
}
