* {
  margin: 0;
  padding: 0;
  font-family: 'Cinzel', serif;
}

body {
  width: 100%;
  background-color: black;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 0;
}

.main {
  width: 100%;
  min-height: 800px;
}

/* Navigation Bar */ 
a {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 45px 100px;
}

.nav-bar {
  list-style: none;
}

.nav-bar li {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
}

.nav-bar li a {
  transition: all .3s ease 0s;
  color: white;
  text-align: center;
}

.nav-bar li a:hover {
  color: #006C87;
}

.nav-side {
  display: flex;
}

.nav-side span {
  margin-top: 17px;
  margin-right: 5px;
}

#user-dropdown-content {
  display: none;
  list-style: none;
  position: absolute;
  background-color: rgb(24, 24, 24);
  min-width: 100px;
  padding: 12px 16px;
  border-radius: 5px;
  z-index: 1;
  color: white;
}

#user-dropdown:hover #user-dropdown-content {
  display: block;
  cursor: pointer;
}

#user-dropdown-content a{
  width: 100%;
}

#user-dropdown-content a:hover {
  color: #006C87;
}

.btn-area {
cursor: pointer;
color: #fff;
font-size: 16px;
letter-spacing: 2px;
text-transform: uppercase;
padding: 10px 30px;
border-radius: 5px;
background: #006C87;
}

/* Scroller */
.scroller {
  position: relative;
  width: 50%;
  height: 50%;
  margin-top: 0;
  margin-left: 40%;
}

.scroller-item img {
  width: 600px;
  height: 600px;
}

.scroller-item, .album-desc-item {
  position: absolute;
  transition: 0.5s ease;
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

/* Album Description */
.album-desc-item {
  width: 20%;
  margin-top: 0;
  margin-left: 130px;
}

.album-title {
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}


/* Footer */
footer {
  display: flex;
  padding: 40px;
  border-top: 1px solid white;
  background-color: black;
}

.footer-contact {
  color: white;
  margin-left: 10vw;
}

.footer-button {
  color: black;
  background-color: #D0A98F; 
  border-radius: 100px;
  height: 35px;
  padding: 0.5em 1.3em;
}

.footer-nav ul {
  display: flex;
  list-style: none;
  margin-top: 0;
  color: wheat;
}

.footer-nav-item {
  margin-left: 80px;
}

.footer-ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

footer a:hover {
  color: #F45B69;
}

@media (max-width: 576px) {
  .nav-bar {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  p {
    width: 200px;
    margin: 0 auto;
  }

  .scroller {
    margin: 0 auto;
  }

  .album-title {
    margin-top: 300px
  }

 .scroller-item img {
    width: 80%; 
    height: 80%; 
  }
  
  footer {
    opacity: 0;
  }
}
