*{
  margin: 0;
  padding: 0;
  font-family: 'Cinzel', serif;
}

body{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6) ), url('../images/bg-img1.png');
}

/* Body Text */
.body-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
  color: #f3ecec;
}

.body-text div {
  font-size: 80px;
  font-weight: 600;
  color: #fcfcfc;
}


/* Navigation Bar */ 
a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 100px;
}

nav ul {
  list-style: none;
}

.nav-bar li {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
}

.nav-bar li a {
  transition: all .3s ease 0s;
  color: white;
}

.nav-bar li a:hover {
  color: #006C87;
}

.btn-area {
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 10px 30px;
  border-radius: 5px;
  background: #006C87;
}


/* Social Media Icons */
.social-menu ul {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  display: flex;
}
.social-menu ul li {
  list-style: none;
  margin: 0 10px;
}
.social-menu ul li .fa {
  color: #000000;
  font-size: 25px;
  line-height: 50px;
  transition: .5s;
}
.social-menu ul li .fa:hover {
  color: #ffffff;
}
.social-menu ul li a {
  position: center;
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: rgb(247, 242, 242);
  text-align: center;
  transition: 0.5s;
  transform: translate(0,0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
  background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
  background-color: #da425e;
}
.social-menu ul li:nth-child(4) a:hover {
  background-color: #cd201f;
}

/* Footer */
footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid white;
    background-color: black;
}

footer a {
    color: white;
}

footer a:hover {
    color: #F45B69;
}

.footer-contact {
    color: white;
    margin-left: 10vw;
}

#footer-name {
    font-family: Trebuchet;
}

.footer-button {
    color: black;
    background-color: #D0A98F; 
    border-radius: 100px;
    height: 35px;
    padding: 0.5em 1.3em;
}

.footer-nav ul {
    display: flex;
    list-style: none;
    margin-top: 0;
    color: wheat;
}

.footer-item {
    margin-left: 80px;
}

.footer-ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}
